template
  require(from='./assets/css/file-type.scss')
  .file-type.file-manager-item
    div(class="${'file item '+this.extension}")
      .itemName ${this.name.substring(0,this.name.lastIndexOf('.'))}