template
  style.
    .radial-progress-bar{
    width:auto !important;
    height:auto;
    background-color:red;
    }
    .radial-progress-bar > .bar{
    border-radius:50%;
    border:10px solid blue;
    background-color:green;
    width:100px;
    height:100px;
    }
    .radial-progress-bar > .bar > .clip-bar{
    width:50px;
    height:50px;
    background-color:#facada;
    clip:rect(10px,50px,50px,10px);
    position: absolute;
    transform: rotate(7deg);
    }
  h3 Radial
  .bar
    .clip-bar(style="${'background-color:'+this.bgcolor}")