.window-widget{
  overflow: auto;
  border:1px solid #919191;
  padding: 0px;
  background-color: #e0e4e8;
}

.window-widget div.titlebar{
  background-color: #919191;
  color:white;
  border-bottom: solid black 1px;
  width: 100%;
  height: auto;
  padding-top:2px;
  padding-bottom:2px;
  overflow:hidden;
}

.window-widget div.titlebar span.titleButton{
  position: relative;
  height: 16px;
  width: 16px;
  padding: 0px;
  margin: 0px 1px 0px 1px;
  border:1px solid transparent;
}

.window-widget div.titlebar span.titleLabel{
  color:#222; 
  margin: 4px 0px 0px 4px;
}

.window-widget div.titlebar span.titleButton:hover,div.window-widget div.titlebar span.is-pressed{
  background-color: #797979;
  border-color:black;
}

.window-widget div.titlebar span.titleButton{
  background-position: top left;
  background-repeat: no-repeat;
}

.window-widget div.titlebar span.titleButton.close{
  background-image:url(../img/gtk-no.png);
}

.window-widget div.contents {
  overflow: auto;
  padding: 0px;
  height:auto;
  width: 100%;
}
