.file-manager-item.folder-type > div.folder{
  background-position:top center;
  background-repeat: no-repeat;
  background-image: url('../img/folder.png');
}


.file-manager-item.folder-type > div.special{
  background: transparent url(../img/folder_important.png) top left no-repeat;
}